@font-face {
    font-family: 'mono-code';
    src: URL('../font/JetBrainsMono-Regular.ttf');
}
@font-face {
    font-family: 'header';
    src: URL('../font/Oswald-Light.ttf');
}
@font-face {
    font-family: pixel;
    src: url(../font/PixelOperator.ttf);
}
@font-face {
    font-family: pixelMono;
    src: url(../font/PixelOperatorMono.ttf);
}
@font-face {
    font-family: gameboy;
    src: url(../font/Early-GameBoy.ttf);
}

html {
    @supports not selector(::-webkit-scrollbar-thumb){
        scrollbar-color:    var(--scrollbar-thumb-focused) var(--scrollbar-track);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-disabled);
    border-radius: 8px;
    min-height:    40px;
}

div:hover::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-focused);
}

body {
    margin: 0;
    font-size: 100%;
    font-family: var(--body-font-family);

    background: var(--body-background);

    input[type='text'] {
        font-size:        24px;
        font-family:      var(--search-field-font-family);
        color:            var(--search-field-color);
        background-color: var(--search-field-background-color);
    }
    input::placeholder{
        color: var(--search-field-placeholder-color);
    }

}



hr {
    background-color: var(--hr-background-color);
    border-color:     var(--hr-border-color);
}

mark {
    color:            var(--mark-color);
    background-color: var(--mark-background);
}

#screen {
    position:   fixed;
    margin:     0;
    height:     100%;
    width:      100%;
    top:        0;
    left:       0;
    overflow:   hidden;
}

#tagsPanel {
    // position:    fixed;
    float:          left;
    overflow-x:     hidden;
    overflow-y:     auto;
    height:         100%;
    // width:       28%;
    font-size:      150%;
    color:          var(--tags-panel-color);
    background:     var(--tags-panel-background);
}

#rightPanel {
    float:      left;
    overflow:   auto;
}

#loading {
    position:   fixed;
    bottom:     0;
    right:      0;
     
    font-size:  150%;
    color:      var(--loading-color);
}

#searchBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;

    background-color: var(--search-bar-background-color);
}

.tags {
    padding: 0;
}

.tags a:link    { color: var(tags-link-color);    }
.tags a:visited { color: var(tags-visited-color); }
.tags a:hover   { color: var(tags-hover-color);   }
.tags a:active  { color: var(tags-active-color);  }

.tag {
    padding: 20px;
    margin: 0px;
    cursor: pointer;
}
.tag:hover {
    background: var(--tag-hover-background);
}

.tagLink {
    text-decoration: none;
}
.tagName {
    font-size: 150%;
}
.tagPath {
    font-size: 80%;
}

.help {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    // float: left;
    // margin-left: 28%;
}

.gutter.gutter-horizontal {
    float:  left;
    cursor: ew-resize;
    height: 100%;
    width:  10px;

    background-color: transparent;
    // background-color: #406090;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* main metadata text block */
.meta {
    /* width: calc(100% - 100px); */
    width:          80%;
    margin-left:    10%;
    margin-top:     15px;
    margin-bottom:  15px;
    padding:        30px;

    font-size:      120%;
    color:          var(--meta-color);
    background:     var(--meta-background);
    /* background: #dfdfca; */
    /* background: #faeed4; */
}
.meta a:link    { color: var(--meta-link-color);    }
.meta a:visited { color: var(--meta-visited-color); }
.meta a:hover   { color: var(--meta-hover-color);   }
.meta a:active  { color: var(--meta-active-color);  }
.meta b         { color: var(--meta-b-color);       }
.meta i         { color: var(--meta-i-color);       }

.path {
    color: var(--path-color);
    font-size: 80%;
    font-family: var(--path-font-family);
}

.pathLink {
    text-decoration: none;
}

.pageTitle {
    color:       var(--page-title-color);
    font-size:   var(--page-title-font-size);
    font-family: var(--page-title-font-family);
}

.metaTitle {
    color:       var(--meta-title-color);
    font-size:   var(--meta-title-font-size);
    font-family: var(--meta-title-font-family);
}

.missingTitle {
    color:       var(--missing-title-color);
    font-size:   var(--missing-title-font-size);
    font-family: var(--missing-title-font-family);
}

.metaAt {
    color:          var(--meta-at-color);
    font-style:     italic;
    font-size:      100%;
    text-indent:    4em;
    padding-top:    2px;
    padding-bottom: 2px;
}

.metaSubtitle {
    color:          var(--meta-subtitle-color);
    font-style:     italic;
    font-size:      120%;
    text-indent:    1em;
    padding-top:    12px;
    padding-bottom: 10px;
}

.metaSection {
    color:          var(--meta-section-color);
    font-size: 120%;
}


h1 {
    color:       var(--h1-color);
    font-size:   200%;
    font-weight: normal;
    font-family: var(--h1-font-family);
}

h2 {
    color:       var(--h2-color);
    font-size:   150%;
    font-weight: normal;
    font-family: var(--h2-font-family);
}

h3 {
    color:       var(--h3-color);
    font-size:   130%;
    font-weight: normal;
    font-family: var(--h3-font-family);
}

pre {
    padding:        10px;
    background:     var(--pre-background);
    font-family:    var(--pre-font-family);
    font-size:      90%;
    white-space:    pre-wrap;
}

blockquote {
    padding:    15px;
    color:      var(--backquote-color);
    background: var(--backquote-background);
    font-size:  100%;
}

.message {
    width:      80%;
    margin:     auto;
    padding:    30px;
    margin-top: 100px;

    font-size:  100%;
    background: var(--message-background);
}
