:root {
    --body-background:       #ffffff;
    --body-font-family:      serif;
    --body-font-size:        100%;

    --hr-border-color:       #ffffff;
    --hr-background-color:   #ffffff;

    --scrollbar-track:          #303540;
    --scrollbar-thumb-disabled: #505050;
    --scrollbar-thumb-focused:  #C09020;

    --tags-panel-background: #202530;
    --tags-panel-color:      #bd8c37;

    --loading-color:        #808080;

    --search-bar-background-color:    #C09020;
    --search-field-color:             #404040;
    --search-field-background-color:  #ffffff;
    --search-field-placeholder-color: #808080;
    --search-field-font-family:       serif;

    --tags-link-color:      #bd8c37;
    --tags-visited-color:   #bd8c37;
    --tags-hover-color:     #d4c26c;
    --tags-active-color:    #cf9a61;

    --tag-hover-background: #505050;

    --meta-color:           #111213;
    --meta-background:      #fffcd1;
    --meta-link-color:      #485f69;
    --meta-visited-color:   #485f69;
    --meta-hover-color:     #54869c;
    --meta-active-color:    #54869c;
    --meta-b-color:         #666666;
    --meta-i-color:         #555555;

    --path-color:           #505050;
    --path-font-family:     mono-code;

    // right panel style
    --page-title-color:       #166470;
    --page-title-font-size:   36px;
    --page-title-font-family: header;

    --meta-title-color:       #166470;
    --meta-title-font-size:   100%;
    --meta-title-font-family: mono-code;

    --missing-title-color:       #bd5f51;
    --missing-title-font-size:   24px;
    --missing-title-font-family: mono-code;

    --meta-at-color:        #704010;

    --meta-subtitle-color:  #202020;

    --meta-section-color:   #166470;

    --h1-color:         #166470;
    --h1-font-family:   header;
    --h1-font-size:     200%;
    --h2-color:         #166470;
    --h2-font-family:   header;
    --h2-font-size:     150%;
    --h3-color:         #166470;
    --h3-font-family:   header;
    --h3-font-size:     130%;

    --pre-background:       #ffecbd;
    --pre-font-family:      mono-code;

    --backquote-color:      #4d4a5f;
    --backquote-background: #f0f2f3;

    --message-background:   #f8d8b5;

    --mark-color:           #000000;
    --mark-background:      #ffff00;
}

[data-theme="solarized"] {
    --body-background:      #e0e0e0;
    --meta-color:           #586e75; /* base01 */
    --meta-background:      #fdf6e3; /* base3  */
    --pre-background:       #eee8d5; /* base2  */
}

[data-theme="eclipsed"] {
    --body-background:      #073642; /* base02 */
    --hr-border-color:      #93a1a1;
    --hr-background-color:  #93a1a1;

    --search-bar-background-color:    #002b36;
    --search-field-color:             #cb4b16;
    --search-field-background-color:  #073642;
    --search-field-placeholder-color: #586e75;

    --tags-panel-background: #002b36;
    --tag-hover-background:  #073642;

    --meta-color:           #657b83; /* base0  */
    --meta-background:      #002b36; /* base03 */
    --meta-link-color:      #2aa198; /* cyan */
    --meta-visited-color:   #268bd2; /* blue */
    --meta-hover-color:     #b58900;
    --meta-active-color:    #dc322f;
    --meta-b-color:         #93a1a1;
    --meta-i-color:         #93a1a1;

    --meta-title-color:     #cb4b16; /* orange */
    --meta-subtitle-color:  #657b83;
    --meta-at-color:        #93a1a1;

    --page-title-color:     #268bd2; /* blue */

    --h1-color:         #268bd2;
    --h2-color:         #268bd2;
    --h3-color:         #268bd2;

    --pre-background:       #073642; /* base02 */

    --backquote-background: #073642;
    --backquote-color:      #93a1a1;

    --mark-color:           #002b36;
    --mark-background:      #b58900;
}

/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/


[data-theme="dark"] {
    --body-background:      #6d6862;

    --tags-panel-background: #202530;
    --tags-panel-color:      #bd8c37;

    --search-bar-background-color:    #C09020;
    --search-field-color:             #C0C0C0;
    --search-field-background-color:  #404550;
    --search-field-placeholder-color: #A0A0A0;

    --page-title-color:       #4b80ca;
    --page-title-font-size:   36px;
    --page-title-font-family: header;

    --meta-title-color:       #68c2d3;
    --meta-title-font-size:   100%;
    --meta-title-font-family: mono-code;

    --missing-title-color:       #b45252;
    --missing-title-font-size:   24px;
    --missing-title-font-family: mono-code;

    --meta-at-color:        #b2b47e;
    --meta-subtitle-color:  #c2d368;

    --h1-color:         #4b80ca;
    --h1-font-family:   header;
    --h2-color:         #4b80ca;
    --h2-font-family:   header;
    --h3-color:         #4b80ca;
    --h3-font-family:   header;

    --meta-color:           #f8d8b5;
    --meta-background:      #202530;
    --meta-link-color:      #68c2d3;
    --meta-visited-color:   #4b80ca;
    --meta-hover-color:     #ede19e;
    --meta-active-color:    #b45252;
    --meta-b-color:         #ede19e;
    --meta-i-color:         #d3a068;

    --backquote-color:      #a2dcc7;
    --backquote-background: #45444f;

    --pre-background:       #404040;
}

[data-theme="dark-pixel"] {
    --body-background:      #6d6862;
    --body-font-family:     pixel;
    --body-font-size:       130%;

    --tags-panel-background: #202530;
    --tags-panel-color:      #bd8c37;

    --search-bar-background-color:    #646365;
    --search-field-color:             #ede19e;
    --search-field-background-color:  #303540;
    --search-field-placeholder-color: #A0A0A0;
    --search-field-font-family:       pixel;

    --page-title-color:       #4b80ca;
    --page-title-font-size:   150%;
    --page-title-font-family: gameboy;

    --meta-title-color:       #68c2d3;
    --meta-title-font-size:   100%;
    --meta-title-font-family: pixel;

    --missing-title-color:       #b45252;
    --missing-title-font-size:   24px;
    --missing-title-font-family: pixel;

    --meta-at-color:        #b2b47e;
    --meta-subtitle-color:  #c2d368;

    --meta-section-color:   #4b80ca;

    --h1-color:         #4b80ca;
    --h1-font-family:   gameboy;
    --h1-font-size:     130%;
    --h2-color:         #4b80ca;
    --h2-font-family:   gameboy;
    --h2-font-size:     100%;
    --h3-color:         #4b80ca;
    --h3-font-family:   gameboy;
    --h3-font-size:     70%;

    --meta-color:           #f8d8b5;
    --meta-background:      #202530;
    --meta-link-color:      #68c2d3;
    --meta-visited-color:   #4b80ca;
    --meta-hover-color:     #ede19e;
    --meta-active-color:    #b45252;
    --meta-b-color:         #ede19e;
    --meta-i-color:         #d3a068;

    --path-color:           #505050;
    --path-font-family:     pixelMono;

    --backquote-color:      #a2dcc7;
    --backquote-background: #45444f;

    --pre-background:       #404040;
    --pre-font-family:      pixel;

    --mark-color:           #45444f;
    --mark-background:      #d3a068;
}

